.libraryItems {
  display: flex;
  align-items: center;
  padding: 0 0 0 5%;
  margin: 0 0 10px 0;
  cursor: pointer;
  transition: 0.3s;
}

.libraryItems:hover {
  background-color: rgb(58, 56, 56);
}

.libraryItems > div {
  display: flex;
  flex-direction: column;
}

.libraryItems > div > div {
  display: flex;
}

.libraryItems > img {
  max-width: 60px;
  height: 60px;
  border-radius: 5px;
  margin: 0 10px 0 0;
}

.libraryItems > div > p {
  display: -moz-inline-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.libraryItems > div > div > div {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  margin: 10px 5px 0 5px;
}

@media (max-width: 320px) {
  .libraryItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 15px 0;
    padding: 7px 0 7px 0;
  }
  .libraryItems > img {
    width: 40px;
    height: 40px;
    margin: 0;
  }
  .libraryItems > div {
    display: none;
  }
}

@media (min-width: 325px) and (max-width: 430px) {
  .libraryItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 12px 0;
    padding: 9px 0 10px 0;
  }
  .libraryItems > img {
    width: 80%;
    height: 70%;
    margin: 0px;
  }
  .libraryItems > div {
    display: none;
  }
}

@media (min-height: 812px) and (max-height: 813px) {
  .libraryItems {
    padding: 12px 0 12px 0;
  }
}

@media (min-height: 844px) and (max-height: 845px) {
  .libraryItems {
    padding: 13px 0 13px 0;
  }
}

@media (min-height: 896px) and (max-height: 897px) {
  .libraryItems {
    padding: 16px 0 16px 0;
  }
}

@media (min-height: 926px) and (max-height: 1023px) {
  .libraryItems {
    padding: 18px 0 18px 0;
  }
}

@media (min-width: 426px) and (max-width: 1023px) {
  .libraryItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 15px 0;
    padding: 8px 0 6px 0;
    max-height: 100%;
    max-width: 100%;
  }
  .libraryItems > img {
   max-width: 100%;
   max-height: 100%;
   width: 70% ;
   height: 70px;
  }
  .libraryItems > div {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1399px) {
  .libraryItems {
    padding: 0 0 0 5px;
    margin: 0 0 15px 0;
  }
  .libraryItems > img {
    width: 40px;
    height: 40px;
  }
  .libraryItems > div > p {
    font-size: 14px;
  }
  .libraryItems > div > div > p {
    font-size: 13px;
  }
  .libraryItems > div > div > div {
    margin: 7px 5px 0 5px;
  }
}

@media (min-height: 1025px) {
  .libraryItems {
    padding: 10px 0 10px 10px;
    margin: 0 0 10px 0;
  }
  .libraryItems > img {
    width: 55px;
    height: 55px;
  }
  .libraryItems > div > p {
    font-size: 17px;
  }
  .libraryItems > div > div > p {
    font-size: 14px;
  }
}

@media (min-width: 2000px) and (max-width: 3840px) {
  .libraryItems > img {
    max-width: 80px;
    width: 70px;
    height: 70px;
  }
  .libraryItems > div > p {
    font-size: 22px;
  }

  .libraryItems > div > div > p{
    font-size: 18px;
  }
}